   <div="footer34">
   <footer class="footer container-fluid bg-secondary p-1 text-white text-center">
        <p><b>&copy; 2021 - Desarrollado por YO</b></p>
        <hr>
        <p>   <b>Copyright © 2021 Ford1 - Todos los derechos reservados. Mapa del sitio Términos y Condiciones</b>   </p>
        <hr>
        <p><b>Diseñador : Matias Martinez</b></p>
        <hr>
        <p><b>Email:Matiasdragon@hotmail.com.ar</b></p>
        <hr>
        <img src="/images/ford/ford2.png">
   </footer>
   </div>