{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
   
    <a class="navbar-brand" id="dispo2" href="/">Consecionaria Ford</a>
     <img  src="/images/ford/ford1.png" href="/" class="card-img" width="100" height="100" > 
    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li> --}}
        <li class="nav-item" class="btn btn-danger">
          <a class="nav-link" id="dispo" href="/usuarios">Disponibilidad</a>
        
        </li>
        <li class="nav-item">
          <a class="nav-link"id="dispo" href="/productos">Catalogo</a>
        </li>
                <li class="nav-item">
          <a class="nav-link"id="dispo" href="/productos2">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="dispo"href="/contacto">ServiClub/Historia</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>

