<br>
<br>
<div class="container">

<video src="/images/video/hyperx.mp4"  autoplay muted loop width="1550"></video>
<div class="tituloprincipal">
<h1 >NUEVAS PROMOCIONES!! SOLAMENTE EN FORD AUTOMOTORES</h1>
 
 <a href="#footer2" id="vermas" class="btn btn-dark">Ver Mas</a>
</div>
<img class="flecha" src="/images/flecha.png" alt="" width="450">
        
   <div class="slider3">
      <ul>
    <li>
<img src="/images/promo/promo1.jpg" alt="">
 </li>
    <li>
<img src="/images/promo/promo2.jpg" alt="">
    </li>
    <li>
<img src="/images/promo/promo3.jpg" alt="">
    </li>
    <li>
  <img src="/images/promo/promo4.jpg" alt="">
    </li>
        <li>
  <img src="/images/promo/promo5.jpg" alt="">
    </li>
  </ul>
    </div>

  
          <div class="fondo1"id="footer2">
        <div class="row">
            <div class="col-md-4 mb-5">
                <figure>
                    <img class="img-fluid" data-aos="fade-down"  src="/images/sucursales/sucursal.png"  id="sucu"alt="">
                </figure>
                <div class="content" >
                   <h2 id="fordtitulo">Sucursal Corrientes</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non impedit ipsum temporibus. Iste id cumque ea labore facere minima temporibus repellat magnam minus at corrupti, officia necessitatibus accusantium magni rerum?</p> 
                </div>
      
                
            </div>
            <div class="col-md-4 mb-5">
                <figure>
                    <img class="img-fluid" data-aos="fade-down" src="/images/sucursales/sucursal2.png" alt="">
                </figure>
                <div class="content">
                   <h2 id="fordtitulo" >Sucursal Goya</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non impedit ipsum temporibus. Iste id cumque ea labore facere minima temporibus repellat magnam minus at corrupti, officia necessitatibus accusantium magni rerum?</p> 
                </div>
            </div>
            <div class="col-md-4">
                <figure>
                    <img  class="img-fluid" data-aos="fade-down" src="/images/sucursales/sucursal3.png" alt="">
                </figure>
                <div class="content">
                   <h2 id="fordtitulo">Sucursal Resistencia</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non impedit ipsum temporibus. Iste id cumque ea labore facere minima temporibus repellat magnam minus at corrupti, officia necessitatibus accusantium magni rerum?</p> 
                </div>
            </div>
        </div>
    </div>
   <hr>
    <h2>RECIEN INGRESADOS:</h2>
    <div class="wrapper">
         <div class="carousel owl-carousel">
            <div class="card card-1">
               <img src="/images/ingreso1.png">
            </div>
            <div class="card card-2">
               <img src="/images/ingreso2.png">
            </div>
            <div class="card card-3">
               <img src="/images/ingreso3.png">
            </div>
            <div class="card card-4">
               <img src="/images/ingreso4.png">
            </div>
            <div class="card card-5">
               <img src="/images/ingreso5.png">
         </div>
                     <div class="card card-5">
               <img src="/images/ingreso6.png">
         </div>
      </div>
      <script>
         $(".carousel").owlCarousel({
           margin: 20,
           loop: true,
           autoplay: true,
           autoplayTimeout: 2000,
           autoplayHoverPause: true,
           responsive: {
             0:{
               items:1,
               nav: false
             },
             600:{
               items:2,
               nav: false
             },
             1000:{
               items:3,
               nav: false
             }
           }
         });
      </script>

      <hr>

       <div class="conteiner3" data-aos="fade-right" id="model1">
          <h2 id="Fordtitulo"data-aos="fade-in" data-aos-delay="500">Modelos 2021</h2>
        <div class="card-group">
  <div class="card">
    <img src="/images/ingreso1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> <b>Ford Mustang 2021</b></h5>
      <p class="card-text">
       <p><b>Combustible  nafta</b></p> 
        <p><b>Cilindrada  4951 cc</b></p>
        <p><b>Potencia  466/7000 cv/rpm</b></p>
        <p><b>Torque  569/4600 N·m/rpm</b></p>
        <p><b>Alimentación  inyección directa e indirecta</b></p>
        <p><b>Cilindros   8 en V</b></p>
        <p><b>Válvulas  32</b></p>
        <p><b>Sistema start / stop  sí</b></p>
</p>
    </div>
    <div class="card-footer"id="model2">
      <small class="text-muted"><a href="https://www.ford.com.ar/crossovers-suvs-4x4/nueva-ecosport/?intcmp=tds-ecosport-img.html">https://www.ford.com.ar/crossovers-suvs-4x4/nueva-ecosport/?intcmp=tds-ecosport-img.html</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/images/ingreso2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" ><b>Ford Bronco 2021</b></h5>
      <p class="card-text"><b>
    A diferencia de su hermano mayor que se basa en la pick-up Ranger, la Bronco Sport toma como punto de partida la Kuga, esto quiere decir que tiene carrocería autoportante.
    El propulsor de acceso es un 1.5 L turbo con 181 CV y 258  de torque. En la parte alta estará el conocido 2.0L turbo capaz de producir 245 caballos y 393 Nm de par.
    En ambos casos la transmisión es una automática de ocho cambios.
    Con el fin de estar a la altura del nombre, la tracción es integral.
    La suspensión delantera es McPherson y la trasera multibrazo.
</b></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/focus/far-focus-ficha-tecnica-junio-2018.pdf">https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/focus/far-focus-ficha-tecnica-junio-2018.pdf</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/images/ingreso3.png" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title" ><b>Ford Focus 2021</b></h5>
      <p class="card-text"><p><b>    Ford Focus Active 2021 1.0 Ecoboost 125 CV – Desde 23.800 euros
    Ford Focus Active 2021 1.5 Ecoboost 150 CV – Desde 25.300 euros
    Ford Focus Active 2021 1.5 Ecoblue 120 CV – Desde 25.300 euros
    Ford Focus Active 2021 2.0 Ecoblue 150 CV – Desde 27.300 euros
    Ford Focus Active Sportbreak 2021 1.0 Ecoboost 125 CV – Desde 24.800 euros
    Ford Focus Active Sportbreak 2021 1.5 Ecoboost 150 CV – Desde 26.300 euros
    Ford Focus Active Sportbreak 2021 1.5 Ecoblue 120 CV – Desde 26.300 euros
    Ford Focus Active Sportbreak 2021 2.0 Ecoblue 150 CV – Desde 28.300 euros</b></p></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/Nueva-ranger/2020/pdf/far-ranger-ficha-tecnica-julio-2019.pdf">https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/Nueva-ranger/2020/pdf/far-ranger-ficha-tecnica-julio-2019.pdf</a></small>
    </div>
  </div>
</div>
          </div>
          </div>
          <hr>
        <div class="conteiner4" data-aos="fade-left">
          <h2 id="Fordtitulo"data-aos="fade-in" data-aos-delay="500">Modelos 2020</h2>
        <div class="card-group">
  <div class="card">
    <img src="/images/ingreso4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>Ford Ranger 2020</b></h5>
      <p class="card-text"><b>Capacidades de Ford Ranger 2021
Capacidad de Carga  Hasta 1,377 kg (Versión XLT Gasolina Plus 4X2)
Capacidad de Arrastre Hasta 3,500 kg (Versión XLT Diesel 4X4)
Potencia  Motor Gasolina: 164HP Motor Diésel: hasta 197HP
Torque  Motor Gasolina: hasta 167 lb-pie de torque Motor Diésel: hasta 347 lb-pie de torque</b></p>

</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="https://www.ford.com.ar/crossovers-suvs-4x4/nueva-ecosport/?intcmp=tds-ecosport-img.html">https://www.ford.com.ar/crossovers-suvs-4x4/nueva-ecosport/?intcmp=tds-ecosport-img.html</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/images/ingreso5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ford Ka 2020</h5>
      <p class="card-text"><p><b>Combustible  nafta
Cilindrada  1499 cc
Potencia  123/6500 cv/rpm
Torque  151/4500 N·m/rpm
Alimentación  inyección electrónica
Cilindros   3 en línea
Válvulas  12
Sistema start / stop  no</b></p></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/focus/far-focus-ficha-tecnica-junio-2018.pdf">https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/focus/far-focus-ficha-tecnica-junio-2018.pdf</a></small>
    </div>
  </div>
  <div class="card">
    <img src="/images/ingreso6.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b>Ford Mondeo 2020</b></h5>
      <p class="card-text"><b>Combustible   nafta
Cilindrada  1999 cc
Potencia  240/5500 cv/rpm
Torque  340/1750-4000 N·m/rpm
Alimentación  inyección directa turbo
Cilindros   4 en línea
Válvulas  16
Sistema start / stop  sí</b></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/Nueva-ranger/2020/pdf/far-ranger-ficha-tecnica-julio-2019.pdf">https://www.ford.com.ar/content/dam/Ford/website-assets/latam/ar/nameplate/Nueva-ranger/2020/pdf/far-ranger-ficha-tecnica-julio-2019.pdf</a></small>
    </div>
  </div>
</div>
<hr>

          </div>
          </div>
  










          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
     
        
        
     


        </section>
<hr>
<h1 class="contacto" id="ancla" data-aos="flip-left">Contactanos</h1>
<div class="row row-cols-1 row-cols-md-2 g-4" data-aos="flip-left">
  <div class="col">
    <div class="card">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12038.113577717451!2d-58.7898891!3d-27.4836632!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36d0633da6bfaa9b!2sFord%20Donnet!5e1!3m2!1ses-419!2sar!4v1624770941888!5m2!1ses-419!2sar" width="740" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div class="card-body">
        <h5 class="card-title"><b>Ford Donnet</b></h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type s.</p>
    <p><b>Email:</b> FordDonnet@gmail.com</p>
    <p><b>Telefono :</b>3794234243.</p>
    <p><b>Telefono Movil:</b>379432487</p>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14158.148893854524!2d-58.7898891!3d-27.4836632!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36d0633da6bfaa9b!2sFord%20Donnet!5e0!3m2!1ses-419!2sar!4v1624771215655!5m2!1ses-419!2sar" width="740" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div class="card-body">
        <h5 class="card-title">Ford Ayala</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type s.</p>
          <p><b>Email:</b> FordDonnet@gmail.com</p>
    <p><b>Telefono :</b>3794234243.</p>
    <p><b>Telefono Movil:</b>379432487</p>
      </div>
    </div>
  </div>


</div>
<hr>
<h1 class="contacto" id="venta">Servicios PostVenta</h1>
   <div class="slider2">
      <ul>
    <li>
<img src="/images/servicio/servicio1.png" alt="">
 </li>
    <li>
<img src="/images/servicio/servicio2.png" alt="">
    </li>
    <li>
<img src="/images/servicio/servicio3.png" alt="">
    </li>
    <li>
  <img src="/images/servicio/servicio4.png" alt="">
    </li>
        <li>
  <img src="/images/servicio/servicio5.png" alt="">
    </li>
  </ul>
    </div>

    <div class="accordion" id="accordionExample" data-aos="zoom-in">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <b>Servicios</b> 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><b>Plan de Mantenimiento</b></p>
        <p><b>Promociones de mantenimiento</b></p>
        <p><b>Precios</b></p>
        <p><b>Plan de Mantenimiento</b></p>
        <p><b>Plan de Mantenimiento</b></p>
        <p><b>Plan de Mantenimiento</b></p>
      </div>
    </div>
  </div>
  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <b>Mi Ford</b>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <b>Repuestos y accesorios</b>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>


    </div>


